.displaySettings {
  position: absolute;
  top: 116px;
  left: 25px;
  width: 320px;
  height: 480px;
  background-color: black;
  border: 0;
  overflow: hidden;
}
body {
  background-color: #c0deed;
}
body #simulator {
  position: relative;
  left: 50%;
  margin-left: -183.5px;
  top: 20px;
  width: 367px;
  height: 750px;
  background-image: url('../img/iPhone5.png');
  background-repeat: no-repeat;
}
body #simulator #home-screen {
  position: absolute;
  top: 116px;
  left: 25px;
  width: 320px;
  height: 480px;
  background-color: black;
  border: 0;
  overflow: hidden;
}
body #simulator #home-screen .app-list {
  margin: 10px;
  padding: 0;
  list-style: none;
  width: 300px;
  height: 460px;
  overflow: hidden;
}
body #simulator #home-screen .app-list .app-item {
  float: left;
  margin: 10px 9px;
}
body #simulator #home-screen .app-list .app-item a .app-icon {
  width: 57px;
  height: 57px;
  border-radius: 11px;
  box-shadow: 0 2px 7px #444444;
}
body #simulator #home-screen .app-list .app-item a .app-title {
  color: white;
  font-family: arial;
  font-size: 10px;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 57px;
  overflow: hidden;
}
body #simulator #simulator-screen {
  position: absolute;
  top: 116px;
  left: 25px;
  width: 320px;
  height: 480px;
  background-color: black;
  border: 0;
  overflow: hidden;
}
body #simulator #home-button {
  position: absolute;
  bottom: 64px;
  left: 151px;
  width: 69px;
  height: 69px;
  border-radius: 33px;
}
.hidden {
  display: none;
}
