<simulator version="1.0.0">
	<background>
    	<color>red</color> <!-- The color you want the background of the home page to be -->
		<image>/img/bg.png</image> <!-- A background image for the home page, setting this will overrite the color setting above-->
	</background>
	<apps>
		<app>
			<title>O2 Calculator</title> <!-- The text you would like to show up under the app icon -->
			<icon>/apps/O2Calculator/icon.png</icon> <!-- relative url to the icon for the app -->
			<index>/apps/O2Calculator/index.html</index> <!-- relative url to the index or home page for the app -->
		</app>
		<app>
			<title>LZA</title>
			<icon>/apps/LZA/icon.png</icon>
			<index>/apps/LZA/index.html</index>
		</app>
	</apps>
</simulator>